// app global css in SCSS form
body {
  background: transparent !important;
}

a {
  color: white;
}

#q-app,
.q-header {
  backdrop-filter: blur(5px);
  /*background: transparent !important;*/
  background-color: #454554;
}

.q-dialog.fullscreen {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.scrollable-tab {
  height: 550px;
  overflow-y: auto;
  // background-color: var(--q-color-dark);
  background-color: #2e2e38;
}

/* Styles the scrollbar track (the background) */
.scrollable-tab::-webkit-scrollbar-track {
  background-color: #2e2e38;
}

/* Styles the scrollbar thumb (the moving part) */
.scrollable-tab::-webkit-scrollbar-thumb {
  background-color: #5c5c70;
  border-radius: 4px;
}

/* Styles the scrollbar itself (width, etc.) */
.scrollable-tab::-webkit-scrollbar {
  width: 8px;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}
